.container-headerListProduct{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 60px;
}

.title-listProduct{
  font-size: 26px;

}

.container-listProduct{
  margin: 10px 60px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}