.container-actions-product {
  border-radius: 18px !important;
  background: white;
  border-radius: 18px;
  padding: 26px 30px;
}
.container-actions-product .container-actions-product-selects{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.container-actions-product-select {
  margin-bottom: 26px !important;
  margin-right: 12px;
  width: 230px;
}

.container-actions-product button{
    display: flex !important;
    margin: auto;
}

@media screen and (max-width: 1300px) {
    .container-detailProduct-description {
        grid-template-columns: 40% 60%;    
        margin: 0px;
    }
}


@media screen and (max-width: 750px) {
.container-detailProduct-description {
    display: grid;
    grid-template-columns: 100%;
}}


@media screen and (max-width: 500px) {
.container-detailProduct {
    margin: 20px 20px;
}
}