.ant-layout-header {
  height: 88px !important;
  overflow: hidden;
  width: 100%;
  background-color: #f7f8fd !important;
  z-index: 16;
  display: flex;
  justify-content: space-between;
}

.user_section {
  margin: 15px 40px 0px 0px;
}

.avatar-item:hover {
  cursor: pointer;
}
.ant-avatar.ant-avatar-icon {
  font-size: 18px;
  background: #002e6d;
}
.btn-close {
  background: rgb(209, 72, 72) !important;
  color: #fff !important;
  border-radius: 10px !important;
}
