.ant-layout-header {
  height: 120px !important;
  width: 100%;
  background-color: #f7f8fd !important;
}
.user_section {
  margin: 20px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar-item:hover {
  cursor: pointer;
}
.ant-avatar.ant-avatar-icon {
  font-size: 18px;
  background: #002e6d;
}

.ant-avatar.ant-avatar-icon:hover {
  font-size: 20px;
  background: #00429e;
}