.container-breadcrumb {
  margin-left: 4% !important;
  margin-top:20px;
}

.container-headerListProduct {
  margin: 40px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-listProduct .ant-card {
  width: 320px !important;
  border-radius: 18px;
}

.title-listProduct {
  font-size: 26px;
}

.container-listProduct {
  margin: 10px 60px;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
}

.text-Search{
text-align:center;
font-size: 16px;

}
@media screen and (max-width: 600px) {
  .container-headerListProduct {
    margin: 40px 30px;
  }
}
